@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;

}

body {
    background: linear-gradient(to left, #A59997, #6D6564);
}

#calcTitle {

    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    animation: hello 5s ease-out infinite;
}

@keyframes hello {

    0% {
        color: black;
    }

    50% {
        color: #6D6564;
    }

    100% {
        color: black;
    }


}